<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="main my-5 col-lg-8">
        <h1>MUSEUM<span>/</span>OF<span>/</span>COCKTAILS</h1>
        <button><%= link_to 'Add new cocktail', new_cocktail_path %></button>
      </div>

      <div class="my-5 col-lg-4">
        <div class="cards">
          <ul>
            <% @cocktails.each do |cocktail| %>
            <li>
              <div class= "row card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
                <%= link_to cocktail.name, cocktail_path(cocktail) %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

